**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.github
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.cursor
**/.idea
**/*.*proj.user
**/*.DotSettings*
**/*.dbmdl
**/*.jfm
**/.*.swp
**/*~
**/.DS_Store
**/Thumbs.db
**/azds.yaml
**/bin
**/charts
**/coverage
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/TestResults
**/values.dev.yaml
**/*.log
init-repo.sh
LICENSE
README.md
test/local/
